.ipe {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 (@gap / 2);
  }

  &__items {
    flex: 1;
    padding-right: @gap;

    h4 {
      margin: 0;
      font-size: 1.6rem;
      line-height: 2.6rem;
    }

    p {
      font-size: 1.2rem;
      line-height: 2.2rem;
      color: @medium-gray;
      margin: 0;
    }
  }

  &__input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 0 0 (@gap / 2);
  }
}
