.entry {
  margin: 0 0 (@gap * 4);

  &__title {
    font-size: 2rem;
    line-height: 4rem;
    margin-bottom: @gap;
  }
}



@media @tablet {
  .entry {
    &__title {
      font-size: 2.8rem;
      line-height: 4.8rem;
    }

    &__content {
      p {
        .fml(1.8rem);
      }
    }
  }
}
