html {
  font-size: 10px; // 1rem = 10px
}

body {
  font-family: @sans-serif-fonts;
  font-size: 1.6rem;
  background-color: #fff;
}

#container {}

#content {
  margin: 0 auto; // centering
  max-width: @mobile-content-max-width;
}

// Grid
.row {
  padding: 0 (@gap / 2);

  &__col {
    box-sizing: border-box;
    padding: (@gap / 2);
  }
}

// Typography
p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin: 0 0 2.4rem;
}



@media @tablet {
  #content {
    max-width: inherit;
    width: @tablet-content-width;
  }

  .row {
    display: flex;

    &__col {
      &_50,
      &_33,
      &_25 {
        flex: 1;
      }
      &_66 {
        flex: 2;
      }
      &_75 {
        flex: 3;
      }
    }
  }
}



@media @desktop {
  #content {
    width: @desktop-content-width;
  }
}
